@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}



@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.neon-text {
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.7), /* White glow */
    0 0 10px rgba(186, 104, 200, 0.7), /* Light purple glow */
    0 0 20px rgba(186, 104, 200, 0.7),
    0 0 30px rgba(186, 104, 200, 0.7);
  transition: text-shadow 0.3s ease-in-out;
}

.neon-text:hover {
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.9),
    0 0 15px rgba(186, 104, 200, 0.9),
    0 0 25px rgba(186, 104, 200, 0.9),
    0 0 40px rgba(186, 104, 200, 0.9);
}